$cWhite: white;
$cBlack: black;
$cSubTitle: #535353;

$navHeight: 80px;
$navHeight-m: 50px;
$mainColor: #d6ae58;
$SubColor: #1b3450;
$mainColor-o: rgba(214, 174, 88, 0.6);
$cBtnColor: $mainColor;
$main-txt: #4d4d4d;
$lightGray: #8888;
$BgColor: #f6f4ef;
$BgSubColor: #f8f8f8;
$cRedColor: #d65858;
$cRedColor-s: #a60102;
$contentMaxWidth1000: 1000px;
$contentMaxWidth: 1400px;
$cBlue: #86b4e8;
$cOrange: #eb9b71;
$cGreen: #7bc7c2;
$cYellow: #e5e024;
$cPink: #ec9aa3;
$cPurple: #c09bd6;
