$cWhite: white;
$cBlack: black;
$cSubTitle: #535353;
$cBgGray: #e9ecf2;
$contentMaxWidth: 1400px;
$navHeight: 80px;
$navHeight-m: 50px;
$mainColor: #d6ae58;
$SubColor: #1b3450;
$mainColor-o: rgba(214, 174, 88, 0.6);
$cBtnColor: $mainColor;
$main-txt: #333333;
$lightGray: #8888;
$BgColor: #f6f4ef;
$cRedColor: #d65858;
$cRedColor-s: #a60102;
$cOrange: #eb9b71;
