$cWhite: white;
$cBlack: black;
$cSubTitle: #535353;
$cBgGray: #e9ecf2;
$contentMaxWidth: 1070px;
$navHeight: 80px;
$navHeight-m: 50px;
$mainColor: #2e5895;
$mainColor-o: rgba(46, 87, 149, 0.8);
$cBtnColor: #aa6c16;
$main-txt: #333333;
$lightGray: #8888;
