@use "../globals" as *;

body {
  color: $main-txt;

  font-family: "M PLUS Rounded 1c", "Noto Sans JP", sans-serif;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

.mb-sm {
  margin-bottom: 16px !important;
}

.mb-md {
  margin-bottom: 30px !important;

  @include mq(lg) {
    margin-bottom: 60px !important;
  }
}
.mb-lr {
  margin-bottom: 60px !important;

  @include mq(lg) {
    margin-bottom: 100px !important;
  }
}
.mb-lg {
  margin-bottom: 80px !important;

  @include mq(lg) {
    margin-bottom: 150px !important;
  }
}

.mt-md {
  margin-top: 30px !important;

  @include mq(lg) {
    margin-top: 60px !important;
  }
}

.pb-sm {
  padding-bottom: 16px !important;
}
.pb-md {
  padding-bottom: 30px !important;

  @include mq(lg) {
    padding-bottom: 60px !important;
  }
}

.pb-lg {
  padding-bottom: 80px !important;

  @include mq(lg) {
    padding-bottom: 150px !important;
  }
}

.content-width {
  width: 90%;
  margin: 0 auto;
  max-width: $contentMaxWidth;
}
.content-width1000 {
  width: 90%;
  margin: 0 auto;
  max-width: $contentMaxWidth1000;
}

.flex {
  display: flex;
  flex-direction: column;

  @include mq(md) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
.flex960 {
  display: flex;
  flex-direction: column;

  @include mq(lg) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

// font
.font-sm {
  font-size: 12px;
  @include mq(sm) {
    font-size: 14px;
  }

  @include mq(lg) {
    font-size: 16px;
  }
}
.font-md {
  font-size: 15px;

  @include mq(lg) {
    font-size: 17px;
  }
  @include mq(lg) {
    font-size: 19px;
  }
}
.font-lr {
  font-size: 15px;

  @include mq(md) {
    font-size: 20px;
  }
  @include mq(lg) {
    font-size: 23px;
  }
}

.font-lg {
  font-size: clamp(15px, 4vw, 36px);
}

.font-xl {
  font-size: clamp(20px, 5vw, 40px);
}
.section-titles {
  text-align: center;
  @extend .mb-lr;
}
.section-titles-left {
  @extend .content-width1000;

  @extend .mb-md;
}

.main-title {
  @extend .font-lg;
  margin-bottom: 0;
  display: block;
  font-weight: 900;
  color: $cOrange;
  & span {
    position: relative;
    display: inline-block;
    &::after {
      bottom: -26px;
      height: 16px;
      background-size: 16px auto;
      position: absolute;
      width: 100%;
      content: "";
      background-repeat: space repeat;
      background-image: url(./images/bg_dot01.png);
      left: 0;
    }
  }
  @include mq(md) {
    letter-spacing: 0.16em;
  }
}

.sub-title {
  @extend .font-sm;
  @extend .mb-sm;
  color: $cSubTitle;
}
.content-title {
  @extend .font-lr;
  margin-bottom: 0;
  display: block;
  font-weight: 900;
  border-left: 4px solid $mainColor;
  padding-left: 10px;
}
.content-subtitle {
  @extend .font-lr;
  margin-bottom: 0;
  display: block;
  font-weight: 900;
  color: $mainColor;
}

.l_boader-title {
  @extend .font-md;
  margin-bottom: 20px;
  display: block;
  font-weight: 900;
  border-left: 4px solid $cOrange;
  padding-left: 10px;
}

@keyframes kf-arrow-anime {
  0%,
  50%,
  100% {
    transform: translateY(-10%);
  }
  30% {
    transform: none;
  }
}

#page_top {
  width: 50px;
  height: 50px;
  position: fixed;
  right: 0;
  bottom: 0;
  background: $cBtnColor;
  opacity: 0.6;
  & > a {
    position: relative;
    display: block;
    width: 50px;
    height: 50px;
    text-decoration: none;
    &::before {
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      content: "\f106";
      font-size: 25px;
      color: $cWhite;
      position: absolute;
      width: 25px;
      height: 25px;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      margin: auto;
      text-align: center;
    }
  }
}

.breadcrumb {
  color: $main-txt;
  font-size: 10px;
  background: $BgSubColor;
  @extend .mb-md;
  &__inner {
    @extend .content-width;
    padding: 10px 0 10px 0;
    @include mq(md) {
      padding: 20px 0 20px 0;
    }
    @include mq(lg) {
      padding: 40px 0 40px 0;
    }
    & i {
      margin: 0 10px;
      &::before {
        color: $mainColor;
      }
    }
    & a {
      color: $main-txt;
    }
  }
}

.postLinks {
  @extend .flex;
  justify-content: space-between;

  @extend .mb-md;
  &__link {
    border-top: 1px solid $lightGray;
    border-bottom: 1px solid $lightGray;
    flex-basis: 50%;
    padding: 20px 0;
    border-right: 1px solid $lightGray;
    &:first-child {
      border-right: none;
      border-bottom: none;
      @include mq(md) {
        border-right: 1px solid $lightGray;
        border-bottom: 1px solid $lightGray;
      }
    }
    &:last-child {
      border-right: none;
    }
    & > a {
      color: $main-txt;
      font-size: 12px;
      padding: 20px 2px;
      text-decoration: none;
      width: 100%;
      display: inline-block;
    }
    &-prev {
      text-align: left;
    }
    &-next {
      text-align: right;
    }
  }
}

/* Contact Form7 */

.contact7 {
  width: 100%;
  box-sizing: border-box;
  font-size: 12px;
  & input,
  & textarea {
    width: 100%;
    border: none;
    background: $BgColor;
    padding: 15px 20px;
    border-radius: 5px;
  }
  & tr {
    @extend .flex;
    border-bottom: 2px dotted $lightGray;

    padding: 20px 0;
    @include mq(md) {
      justify-content: space-between;
      align-items: center;
    }
    @include mq(lg) {
      padding: 40px 0;
    }
  }
  & th {
    font-weight: bold;
    flex-basis: 28%;
    margin-bottom: 10px;
    & > p {
      display: flex;
      align-items: center;
    }
    @include mq(lg) {
      margin-bottom: 0;
    }
  }
  & td {
    flex-basis: 70%;
  }
  & .must {
    background: $cOrange;
  }
  & .optional {
    background: $lightGray;
  }
  & .optional,
  & .must {
    font-weight: 700;
    color: $cWhite;
    border-radius: 3px;
    font-size: 10px;
    margin-left: 10px;
    padding: 5px 10px;
    letter-spacing: 2px;
  }
  & .wpcf7-list-item {
    margin-left: 0;
  }
}

.btn_contact7 {
  text-align: center;
  margin-top: 30px;
  & input {
    height: 50px;
    width: 100%;
    max-width: 400px;
    background-color: $BgColor;
    color: $main-txt;
    font-size: 1.1em;
    font-weight: bold;
    letter-spacing: 0.2em;
    border: 1px solid $BgColor;

    transition: 0.3s;
    @include mq(lg) {
      width: 70%;
      background-color: $BgColor;

      font-size: 1.1em;
      font-weight: bold;
      letter-spacing: 0.2em;
      border: 1px solid $BgColor;

      transition: 0.3s;
    }
    &:hover {
      background-color: $cWhite;
      color: $BgColor;
      @include mq(lg) {
        background-color: $cWhite;
        color: $BgColor;
      }
    }
  }
}

/*ページナビ-----------------------------------------------------------*/

.wp-pagenavi {
  /* 全体 */
  padding: 20px 0;
  font-size: 12px;
  text-align: center;
  @include mq(md) {
    font-size: 14px;
  }
  & > a {
    color: $mainColor;
    border-radius: 20px;
  }
  & .pages {
    /* 左の表記 */
    margin-right: 20px;

    display: none;
  }
  & span.current {
    background: $mainColor;
    color: $cWhite;
    border-radius: 20px;
    border: none;
  }
  & .previouspostslink,
  & .nextpostslink {
    display: none;
  }
  & .first,
  & .extend {
    margin-right: 10px;
  }
}

.wp-pagenavi .current,
.wp-pagenavi a.page {
  /* ボタン */
  display: inline-block;
  border: solid 0.5px $lightGray;
  width: 30px;
  height: 30px;
  display: inline-grid;
  align-content: center;
  text-align: center;
  color: $lightGray;
  font-weight: 900;
}

.wp-pagenavi a.page:hover {
  /* マウスオーバー */
  background: $lightGray;
  color: $cBlack;
}

.news-cate {
  @extend .mb-md;
  padding: 20px;
  background: $BgColor;
  @include mq(lg) {
    padding: 30px 50px;
  }
  & > p {
    &::before {
      font-family: "Font Awesome 5 Free";
      font-weight: 600;
      content: "\f07c";
    }
  }

  &__ul {
    @extend .flex960;
    list-style: none;
    padding: 0;

    justify-content: space-between;
    & li {
      flex-basis: 49%;
      & a {
        width: 100%;
        padding: 15px 20px;
        font-size: 16px;
        @include mq(lg) {
          padding: 20px 20px;
        }
      }

      &:nth-child(2) {
        margin-right: 0;
      }
      &.current {
        & > a {
          background: $mainColor;
          color: $cWhite;
          font-weight: 600;
        }
      }
    }
  }
}

.logo {
  font-size: 30px;
  display: flex;
  color: $cWhite;
  font-weight: 600;
  &__img {
    width: 45px;
  }
}

.table01 {
  width: 100%;
  border-collapse: collapse;
  & tbody {
    display: flex;
    flex-direction: column;
  }
  & tr {
    display: flex;
    flex-direction: column;
    border-bottom: 2px dotted #9f9f9f;
    padding: 10px 20px;

    @include mq(lg) {
      flex-direction: row;
      align-items: center;
    }
  }
  & th,
  & td {
    border: none;
    @include mq(lg) {
      padding: 24px 0;
      border: none;
    }
  }
  & th {
    padding: 20px 0 10px 0;
    width: 35%;
    text-align: left;
    @extend .font-sm;

    @include mq(lg) {
      width: 28%;
    }
  }
  & td {
    @extend .font-sm;
    line-height: 1.8;
    & p {
      margin-bottom: 10px;
    }
    & span {
      background: $cOrange;
      padding: 1px 2px;
      color: $cWhite;
      border-radius: 3px;
      display: block;
      text-align: center;
      @include mq(md) {
        display: inline-block;
        padding: 3px 10px;
        margin-left: 10px;
      }
    }
    & ul {
      list-style: none;
      padding-left: 5px;
      margin: 10px 0;

      & li {
        position: relative;
        &::before {
          font-family: "Font Awesome 5 Free";
          font-weight: 600;
          content: "\f00c";
          font-size: 8px;
          color: $cOrange;
          position: absolute;
          width: 25px;
          height: 25px;
          top: 0;
          left: -23px;
          display: flex;
          align-items: center;
        }
      }
    }
  }
}

.table02 {
  table-layout: fixed;
  width: 100%;
  @extend .font-sm;
  white-space: nowrap;
  border-spacing: 5px;
  min-width: 630px;
  @extend .mb-sm;

  & th,
  & td {
    border-radius: 5px;
    text-align: center;
    padding: 10px 0;
  }
  & th {
    background-color: $cOrange;
    color: white;
  }
  & td {
    background-color: #e9e6e1;
  }
}

.table03 {
  width: 100%;
  & th {
    position: relative;
    text-align: left;
    width: 15%;
    &::after {
      display: block;
      content: "";
      width: 30px;
      height: 2px;
      background-color: #333;
      position: absolute;
      top: calc(50% - 1px);
      right: -15px;
    }
  }
  & td {
    text-align: left;
    padding: 7px 0 7px 30px;
    width: 85%;
  }
}

.table04 {
  table-layout: fixed;
  width: 100%;
  @extend .font-sm;
  white-space: nowrap;
  border-spacing: 5px;
  min-width: 630px;
  @extend .mb-sm;
  & tr {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  & td {
    flex-basis: 49%;
    background-color: #e9e6e1;
    white-space: normal;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px 10px;
    display: inline-block;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: 600;
    & > span {
      font-size: 12px;
      display: block;
      font-weight: 400;
    }
    @include mq(lg) {
      flex-basis: 33%;
    }
  }
}
.table05 {
  min-width: auto !important;
  table-layout: fixed;
  width: 100%;
  font-size: 14px;
  white-space: nowrap;
  border-spacing: 5px;
  min-width: 630px;
  @extend .mb-sm;
  & th {
    display: block;
    width: 100%;
    text-align: left;
  }

  & td {
    background-color: #e9e6e1;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px 10px;
    display: block;
    font-size: 14px;

    font-weight: 600;
    & > span {
      font-size: 12px;
      display: block;
      font-weight: 400;
    }
  }
}

.table-wrap {
  overflow-x: scroll;
  overflow-x: auto;
  overflow-y: hidden;
  height: 320px;

  &::-webkit-scrollbar {
    width: 12px; /* スクロールバーの幅を指定（適宜変更してください） */
    border-radius: 6px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: rgba(235, 155, 113, 0.5); /* スクロールバーの色を指定 */
    border-radius: 6px;
  }
  &::-webkit-scrollbar-thumb:hover {
    background-color: $cOrange; /* ホバー時のスクロールバーの色を指定 */
  }
}

.border-frame {
  border: 2px solid $cOrange;
  border-radius: 10px;
  padding: 10px 8px;
  @include mq(md) {
    padding: 15px 20px;
  }
  @include mq(lg) {
    padding: 20px 30px;
  }
}

.table-desc {
  font-size: 12px;
  @extend .flex;
  justify-content: space-between;
}

.width-auto {
  min-width: auto !important;
  & th {
    width: 30%;
  }
}

.bgBlue {
  background-color: $cBlue;
}
.bgOrange {
  background-color: $cOrange;
}
.bgGreen {
  background-color: $cGreen;
}
.bgYellow {
  background-color: $cYellow;
}
.bgPink {
  background-color: $cPink;
}
.bgPurple {
  background-color: $cPurple;
}

.remarks {
  color: $cRedColor;
  margin: 0 5px;
  font-size: 12px;
}
