@use "../globals" as *;
@use "../parts/common" as *;
@use "../parts/button" as *;

#container {
  position: relative;
  z-index: 10;
  background: $cWhite;
  transition: transform 0.5s, box-shadow 0.5s;
}

#main-content {
  position: relative;
  z-index: 0;
}

main {
  position: relative;
  z-index: -1;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: $navHeight-m;
  background: transparent;
  display: flex;
  align-items: center;
  z-index: 100;
  @include mq(lg) {
    height: $navHeight;
    background: $cWhite;
    border-bottom: 2px solid $mainColor;
  }

  &.triggered {
    background: rgba(238, 238, 238, 0.5);
    box-shadow: 0px 0 28px -3px rgba(102, 102, 102, 0.5);
    border-bottom: 2px solid $mainColor-o;
  }

  &__inner {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @extend .content-width;
  }

  &__nav {
    @extend .flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    display: none;
    @include mq(lg) {
      display: flex;
      align-items: center;
      height: 100%;
    }
  }

  &__ul {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    height: 100%;
  }

  &__li {
    display: flex;
    align-items: center;
    position: relative;
    height: 100%;
    & > a {
      position: relative;
      color: $main-txt;
      text-decoration: none;
      text-transform: uppercase;
      padding: 10px 15px;
      height: 100%;
      display: flex;
      align-items: center;
    }
    &:not(:nth-child(5), :last-child) {
      &.current-menu-item {
        & > a {
          font-weight: 800;
          &::after {
            bottom: -1px;
            height: 16px;
            background-size: 16px auto;
            position: absolute;
            width: 100%;
            content: "";
            background-repeat: space repeat;
            background-image: url(./images/bg_dot01.png);
            left: 0;
          }
        }
      }
      & > a {
        &:hover {
          font-weight: 800;
          &::after {
            bottom: -1px;
            height: 16px;
            background-size: 16px auto;
            position: absolute;
            width: 100%;
            content: "";
            background-repeat: space repeat;
            background-image: url(./images/bg_dot01.png);
            left: 0;
          }
        }
      }
    }

    &:nth-child(5) {
      @extend .btn;
      background: $cBtnColor;
      padding: 10px 15px;
      box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.5);
      & > a {
        color: $cWhite;
        font-weight: 800;
      }
      &:hover {
        background-color: $SubColor;
        box-shadow: none;
      }
    }
    &:last-child {
      & i {
        font-size: 25px;
      }
    }
    & .sub-menu {
      position: absolute;
      left: 0;
      top: 80px;
      z-index: 4;
      background: rgba(255, 255, 255, 0.9);
      width: 180px;
      visibility: hidden;
      opacity: 0;
      transition: all 0.3s;
      display: block;
      padding: 0;
      list-style: none;
      box-shadow: 1px 1px 2px rgba(102, 102, 102, 0.2);
      & li {
        border-bottom: solid 1px rgba(102, 102, 102, 0.2);
        display: flex;
        &:nth-child(2) {
          border-bottom: none;
        }
        & > a {
          width: 100%;
          height: 100%;
          padding: 20px 10px;
          text-decoration: none;
          color: $main-txt;
          &:hover {
            background: $mainColor-o;
            color: $cWhite;
          }
        }
      }
    }
    &:hover .sub-menu {
      visibility: visible;
      opacity: 1;
    }
  }

  & .logo {
    height: 97%;
    justify-content: center;
    @include mq(md) {
      justify-content: flex-start;
    }
    & > a {
      height: 100%;
      text-decoration: none;
      color: $mainColor;
      display: flex;
      align-items: center;
    }
    &__tit {
      & span {
        @extend .font-lr;
        &:nth-child(1) {
          font-size: 12px;
        }
      }
    }
    &__img {
      padding: 6px;
    }
  }
}

.family-page {
  position: relative;
  height: 200px;
  @include mq(lg) {
    height: 300px;
  }
}
.news {
  @extend .mb-lg;
  &__inner {
    max-width: $contentMaxWidth1000;
    width: 90%;
    margin: 0 auto;
    @extend .mb-lr;

    min-height: 200px;
  }
  &__list {
    list-style: none;
    padding: 0;
  }
  &__box {
    border-bottom: 2px dotted ghostwhite;

    display: block;

    transition: 0.3s ease;
    padding: 20px 0px;

    &:hover {
      // background-color: $cImage-color;
      & a {
        color: $main-txt;
      }
    }
    & a {
      color: $main-txt;
      text-decoration: none;
      width: 100%;
      height: 100%;
      display: inline-block;
    }
    & .cat {
      min-width: 64px;
      display: inline-block;
      font-size: 12px;
      font-weight: 800;
      margin-right: 10px;
      padding: 2px 20px;
      border-radius: 5px;
      flex-basis: 18%;
      text-align: center;
      border: 1px solid $mainColor;
      color: $mainColor;
      & li {
        list-style-type: none;
      }
    }

    & time {
      font-family: new-order, sans-serif;
      position: relative;
      padding-right: 20px;

      font-size: 12px;
      display: inline-block;
      @include mq(md) {
        width: 160px;
      }
      @include mq(lg) {
        position: relative;
        padding-right: 150px;
        margin-right: 20px;
        width: 250px;
        &::before {
          background-color: $cWhite;
          @include mq(lg) {
            content: "";
            position: absolute;
            right: 22px;
            top: 50%;
            height: 1px;

            width: 100px;
          }
        }
      }
    }
  }
  &__des {
    display: block;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 0;
    margin-top: 10px;
    font-weight: 500;

    @include mq(md) {
      font-size: 16px;
      display: inline-block;
      margin-top: 0;
    }
  }

  &__notinfo {
    text-align: center;
    padding: 80px 0;
    & > p {
      margin: 0;
      @extend .font-md;
      font-weight: bold;
    }
  }
  &__btn {
    text-align: center;
    @include mq(lg) {
      display: flex;
      justify-content: flex-end;
    }
    & .btn {
      max-width: 300px;
      width: 100%;
      border: none;
      background: $mainColor;
      color: $cWhite;
      &::after {
        content: "\f061";
        font-family: "Font Awesome 5 free";
        font-weight: 600;
        position: absolute;
        right: 10px;
      }
    }
  }
}

.about {
  padding-top: 80px;
  background-image: url(./images/about-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  @extend .mb-lg;
  &__inner {
    @extend .content-width;
  }
  &__overview,
  &__institution {
    position: relative;
    z-index: 0;
    @extend .flex960;
    justify-content: space-between;

    padding: 15px 0;

    @include mq(md) {
      padding: 50px 0;
    }
    @include mq(lg) {
      flex-direction: row-reverse;
    }
  }
  &__img {
    @extend .mb-sm;
    height: 300px;
    transition: box-shadow 0.5s ease 1.6s;
    border: 5px solid $cWhite;
    border-radius: 10px;

    @include mq(md) {
      flex-basis: 50%;
    }

    @include mq(lg) {
      height: 400px;
    }

    & > img {
      position: relative;
      z-index: -1;
      opacity: 1;
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  &__texts {
    @extend .pb-sm;
    padding: 0 15px;

    @include mq(md) {
      padding: 0 50px;
      display: flex;
      align-items: flex-end;
      flex-basis: 47%;
    }
    @include mq(lg) {
      padding: 50px 0px 50px 100px;
    }
    @include mq(xl) {
      padding: 50px 0px 50px 150px;
    }

    &.inview {
      & .about__title::before {
        @include animation($name: scaleX, $duration: 0.3s, $delay: 1.5s);
      }
    }
    &-inner {
      width: 100%;
    }
  }

  &__title {
    color: $mainColor;
    position: relative;
    @extend .font-xl;
    font-weight: 900;

    &::before {
      display: none;
      position: absolute;
      content: "";
      height: 1px;
      width: 200px;
      top: 50%;
      right: -190px;
      background: $mainColor;
      transform: scaleX(0);
      transform-origin: left;

      @include mq(lg) {
        display: block;
      }
      @include mq(xl) {
        width: 300px;
        right: -230px;
      }
    }
  }

  &__description {
    color: $cWhite;
    @include mq(lg) {
      margin-bottom: 40px;
    }
  }
}

@keyframes scaleX {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}

.detailed-info {
  position: relative;
  @extend .mb-lg;
  &__inner {
    width: 90%;
    margin: 0 auto;
    max-width: 1080px;
    @extend .flex;
    justify-content: space-between;
  }
  &__block {
    position: relative;
    margin-bottom: 60px;
    @include mq(md) {
      flex-basis: 49%;
    }
    @include mq(lg) {
      flex-basis: 32%;
    }
  }

  &__text {
    min-height: 150px;
    background: $cWhite;
    padding: 15px 20px;

    & > a {
      background: $mainColor;
      color: $cWhite;
    }
  }
  &__desc {
    margin-bottom: 10px;
    font-size: 14px;
  }
  &__tit {
    z-index: 100;
    position: absolute;
    top: 0px;
    right: 0;
    display: inline-block;
    background: $SubColor;
    @extend .font-sm;
    color: $cWhite;
    font-weight: 600;
    padding: 15px 20px;
  }
  &__bg {
    height: 77.5%;
    background: $BgColor;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: -1;
    &::before {
      content: "";
      background: url(./images/detailed-bg-top-sp.png) no-repeat center/cover;
      top: -90px;
      height: 90px;
      position: absolute;
      width: 100%;
      @include mq(lg) {
        top: -295px;
        height: 296px;
        background: url(./images/detailed-bg-t.png) no-repeat center/cover;
      }
    }
    &::after {
      content: "";
      bottom: -90px;
      width: 100%;
      height: 90px;
      position: absolute;
      background: url(./images/detailed-bg-sp.png) no-repeat center/cover;
      @include mq(lg) {
        bottom: -296px;
        height: 296px;
        background: url(./images/detailed-bg.png) no-repeat center/cover;
      }
    }
  }
}

.recruit {
  padding-bottom: 350px;
  @include mq(md) {
    padding-bottom: 400px;
  }
  @include mq(lg) {
    padding-bottom: 200px;
  }
  &__inner {
    max-width: 1100px;
    margin: 0 auto;
    @extend .flex960;
    justify-content: space-between;
  }
  &__img {
    position: relative;
    z-index: 1000;
    margin-bottom: 20px;
    & > img {
      margin: 0 auto;
    }
    @include mq(md) {
      margin-bottom: 0;
      width: 90%;
      margin: 0 auto;
    }
  }
  &__texts {
    line-height: 1.8em;
    @extend .font-sm;
    letter-spacing: 0.1em;
    display: flex;
    align-items: flex-end;
    position: relative;

    &-inner {
      position: absolute;
      z-index: 10;
      background: $BgColor;
      border-radius: 10px;
      position: absolute;

      padding: 250px 10px 30px;
      top: -230px;
      height: 550px;
      @include mq(sm) {
        top: -180px;
      }
      @include mq(md) {
        padding: 250px 10% 30px;
        height: 500px;
      }
      @include mq(lg) {
        padding: 30px 80px;
        left: -50px;
        top: 110px;
        height: 340px;
        display: flex;
        align-items: center;
        flex-direction: column;
      }
    }
  }
  &__texts-btn {
    margin-top: 30px;
    text-align: center;
  }
  &__img,
  &__texts {
    flex-basis: 49%;
  }
}

.info {
  &-arrow {
    position: relative;
    left: 50%;
    bottom: 50px;

    z-index: 2;
    height: 98px;
    width: 22px;
    overflow: hidden;
  }
  &-contents {
    @extend .mb-lg;
    text-align: center;
    & > h3 {
      @extend .mb-md;
      font-size: 19px;
      @include mq(md) {
        font-size: 25px;
      }
      @include mq(lg) {
        font-size: 36px;
      }
    }
  }
}

.contact {
  margin-bottom: 150px;
  @include mq(lg) {
    margin-bottom: 0;
  }
  &__inner {
    background-image: url(images/bg_contact_sp.jpg);
    height: 200px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 160px 0 100px;
    @include mq(md) {
      height: 300px;
    }
    @include mq(lg) {
      background-image: url(images/bg_contact_pc.jpg);
      padding: 100px 0 100px;
      height: 500px;
    }
  }
  &__texts {
    background-color: rgba(255, 255, 255, 0.9);
    @extend .content-width;
    border-radius: 10px;
    padding: 30px 10px;
    max-width: $contentMaxWidth1000;
    @include mq(lg) {
      padding: 80px 50px 100px;
    }
    & > p {
      @extend .font-sm;
      @include mq(md) {
        text-align: center;
      }
    }
  }
  &__title {
    text-align: center;
    font-size: 14px;
    @extend .mb-sm;
    @include mq(lg) {
      font-size: 26px;
    }
  }
  &__btn {
    margin-top: 20px;
    text-align: center;
    @include mq(md) {
      margin-top: 50px;
    }
  }
}

.footer {
  background: $BgColor;

  &__inner {
    padding: 60px 0 30px 0;
    @extend .content-width;
    @extend .flex;
    justify-content: space-between;
  }
  &__left {
    flex-basis: 68%;
  }
  &__right {
    flex-basis: 30%;
  }
  &__right-imgs {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 50%;
    @include mq(md) {
      width: 100%;
    }
  }
  &__img {
    flex-basis: 49%;
  }
  &__nav {
    @extend .content-width;
    display: none;
    @include mq(lg) {
      margin-bottom: 20px;
      display: block;
    }
  }

  &__ul {
    @extend .flex;
    justify-content: flex-start;
    list-style: none;
    padding: 0;
  }

  &__li {
    @include mq(md) {
      margin-left: 0;
    }

    & > a {
      padding: 15px;
      color: $main-txt;
      text-decoration: none;
      position: relative;
      &::after {
        content: "\f105";
        left: 2px;
        width: 6px;
        height: 9px;
        display: inline-block;
        vertical-align: middle;
        font-family: "Font Awesome 5 free";
        font-weight: 600;
        position: absolute;
        color: $mainColor;
      }
      & > i {
        font-size: 25px;
      }
    }
  }

  & .logo {
    @include mq(md) {
      justify-content: flex-start;
    }
    & > a {
      text-decoration: none;
      color: $mainColor;
      display: flex;
      align-items: center;
    }
    &__tit {
      & span {
        font-size: 25px;
        &:nth-child(1) {
          font-size: 12px;
        }
      }
    }
    &__img {
      padding: 4px;
    }
  }
  &__address {
    margin-top: 15px;
    list-style: none;
    padding: 0;
    @extend .font-sm;
    @extend .mb-sm;
    &-icon {
      font-size: 30px;
    }
  }
  &__copyright {
    background: $cWhite;
    color: $main-txt;
    @extend .font-sm;
    text-align: center;
    padding: 30px 0;
    & > span {
      display: block;
      @include mq(md) {
        display: inline;
      }
    }
  }
}

.side {
  display: none;
  position: fixed;
  top: 70%;
  transform: translateY(-50%);
  transition: all 0.3s ease;

  @include mq(xl) {
    display: block;
  }

  & .tween-animate-title {
    color: $cBlack;
    text-decoration: none !important;
    padding: 10px 40px;
    vertical-align: middle;
    letter-spacing: 2px;
    border-radius: 5px;
  }

  &.left {
    left: -50px;

    &.inview {
      left: 50px;
    }

    & .side__inner {
      transform-origin: top left;
      transform: rotate(-90deg);
      & > a {
        background: linear-gradient(
            135deg,
            rgb(66 126 255 / 50%) 0%,
            rgb(241 63 121 / 50%) 70%
          )
          no-repeat;
        color: $cWhite;
        box-shadow: -2px -1px 5px rgba(66, 126, 255, 0.2);
      }
    }
  }

  &.right {
    right: -50px;

    &.inview {
      right: 50px;
    }

    & .side__inner {
      transform-origin: top right;
      transform: rotate(90deg);
    }
  }
}

.icon {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -20px;
    width: 1em;
    height: 1em;
    transform: translateY(-50%);
    background-position: center;
    background-repeat: none;
    background-size: contain;
  }

  &.twitter::before {
    background-image: url(../images/twitter.svg);
  }
  &.fb::before {
    background-image: url(../images/facebook.svg);
  }
}
