@use "../globals" as *;
@use "../parts/common" as *;
@use "../parts/button" as *;

.page-content {
  @extend .mb-lg;
  @extend .pt-md;
  &__inner {
    @extend .content-width1000;
  }
  &__block {
    @extend .mb-md;
    & h3 {
      border-bottom: 1px solid $mainColor;
      color: $mainColor;
      font-weight: 400;
    }
    &-inner-contents {
      @extend .mb-md;
      & h4 {
        border-left: 4px solid $mainColor;
        padding-left: 5px;
      }
    }
  }
}
.contact-toptxt {
  @extend .mb-lr;

  display: flex;
  min-height: 150px;
  align-items: center;
  @extend .font-sm;
  & > div {
    padding: 30px 0;
  }
}
.contact-info {
  @extend .mb-md;
  min-height: 100px;
  padding: 30px 20px;
  background: $BgColor;
  border-radius: 10px;
  @include mq(lg) {
    padding: 50px 60px;
  }
  & h3 {
    @extend .font-md;
    padding-bottom: 5px;
    margin-bottom: 10px;
    border-bottom: 2px dotted $mainColor;
  }

  &__tel,
  &__fax {
    background: $cWhite;
    padding: 30px 10px;
    border-radius: 10px;
    & h4 {
      border-bottom: 1px solid $mainColor;
      margin-bottom: 10px;
    }
    & p {
      font-weight: bold;
      @extend .font-lr;
    }
    @include mq(lg) {
      padding: 30px 40px;
    }
  }
  &__tel {
    margin-bottom: 10px;
  }
}

.contact-form {
  & h3 {
    font-family: "Noto Sans JP", sans-serif;
    color: $mainColor;
    @extend .mb-md;
    @extend .font-lr;
    text-align: center;
  }
}

.site-map {
  &__top {
    @extend .mb-sm;
    & p {
      @extend .font-md;
      font-weight: 800;
      & a {
        color: $mainColor;
      }
    }
  }
  &__box {
    border-radius: 10px;
    background: $BgColor;
    @extend .mb-sm;
    padding: 10px 10px;
    @include mq(sm) {
      padding: 30px 20px;
    }
    @include mq(lg) {
      padding: 40px 30px;
    }
    & h2 {
      margin-bottom: 10px;

      @extend .font-md;

      & > a {
        color: $mainColor;
        @extend .font-md;
      }
    }
    & ul {
      @extend .mb-sm;
      & li {
        & > a {
          color: $main-txt;
        }
      }
    }
  }
}

.sm-list-page {
  list-style: none;
  & li {
    @extend .font-sm;
    position: relative;
    padding: 5px 0;
    &::after {
      content: "\f3bf";
      font-family: "Font Awesome 5 free";
      font-weight: 600;
      position: absolute;
      left: -30px;
      top: 50%;
      transform: rotate(90deg) translateX(-110%);
      color: $lightGray;
    }
  }
}

.sm-list-post {
  list-style: none;
  & li {
    @extend .font-sm;
    position: relative;
    padding: 5px 0;
    &::after {
      content: "\f054";
      font-family: "Font Awesome 5 free";
      font-weight: 600;
      position: absolute;
      left: -30px;
      top: 50%;
      transform: translateY(-40%);
      color: $lightGray;
    }
  }
}

.page-404 {
  @extend .font-sm;

  &__content {
    min-height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  &__btn {
    padding: 50px 0;
    text-align: center;
    & > a {
      background: $mainColor;
      color: $cWhite;
    }
  }
}

.about-page {
  @extend .mb-lg;
  @extend .pt-md;
}
.sentence {
  @extend .mb-md;

  &__inner {
    position: relative;

    border-radius: 10px;
    @extend .content-width1000;
    @extend .flex960;
    align-items: center;

    &::after {
      position: absolute;
      content: "";
      top: 0;
      left: 50%;
      transform: translate(-50%, 0);
      background-image: url(./images/about_idea_bg1.png);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: bottom;
      z-index: 1;
      height: 300px;
      width: 300px;
      @include mq(lg) {
        height: 350px;
        width: 350px;
        left: 140px;
      }
    }
  }
  &__img {
    flex-basis: 30%;
    margin-bottom: 30px;
    & > img {
      width: 70px;
      margin: 0 auto;
    }
  }
  &__txt {
    flex-basis: 65%;
    line-height: 2;
    letter-spacing: 0.06em;
    & p {
      @extend .mb-sm;
      @extend .font-sm;
    }
  }
}
.overview {
  @extend .content-width1000;
  @extend .mb-lg;
  &__report {
    & > a {
      color: $main-txt;
    }
  }
}
.overview-table {
  border-collapse: collapse;
  width: 100%;
  & tr {
    border-bottom: solid 2px white;
    @extend .flex;
    &:last-child {
      border-bottom: none;
    }
  }
  & th {
    position: relative;
    @extend .font-sm;
    text-align: left;
    width: 100%;
    background-color: $mainColor;
    color: $cWhite;
    text-align: center;
    padding: 10px 0;
    &::after {
      display: none;
      content: "";
      width: 0px;
      height: 0px;
      position: absolute;
      top: calc(50% - 10px);
      right: -10px;
      border-left: 10px solid $mainColor;
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent;
    }
    @include mq(lg) {
      width: 35%;
      padding: 20px 10px;
      &::after {
        display: block;
      }
    }
  }
  & td {
    text-align: left;
    width: 100%;
    background-color: $BgColor;
    padding: 20px;
    @extend .font-sm;
    @include mq(lg) {
      width: 65%;
    }
  }
}

.aboutpage-access {
  @extend .content-width1000;
  @extend .mb-lg;
  &__inner {
    @extend .flex960;
    justify-content: space-between;
    padding: 20px 10px;
    background: $BgColor;
    border-radius: 10px;
    @include mq(lg) {
      padding: 50px 30px;
    }
  }
  &__map {
    margin-bottom: 20px;
    flex-basis: 49%;
    & .map-canvas {
      height: 300px !important;
      @include mq(lg) {
        height: 100% !important;
      }
    }
    @include mq(lg) {
      margin-bottom: 0;
    }
    & > iframe {
      width: 100%;
      height: 300px;
      border-radius: 10px;
    }
  }
  &__text {
    flex-basis: 49%;
    display: flex;
    align-items: flex-end;
    background: $cWhite;
    border-radius: 10px;
    padding: 10px;
  }
  &__text-inner {
    @include mq(lg) {
      padding: 20px 40px 20px 20px;
      background: $cWhite;
      border-radius: 10px;
    }
  }

  &__dl {
    & dt {
      margin-bottom: 10px;

      font-weight: 900;
      &::before {
        font-family: "Font Awesome 5 free";
        font-weight: 600;
        color: #eb9b71;
        margin-right: 5px;
      }
      &:nth-of-type(1) {
        &::before {
          content: "\f3c5";
        }
      }
      &:nth-of-type(2) {
        &::before {
          content: "\f207";
        }
      }
    }
    & dd {
      @extend .font-sm;
      margin-bottom: 17px;
      padding-bottom: 19px;
      border-bottom: 1px dotted #dbdbdb;
      line-height: 1.5;
    }
  }
}

.philosophy {
  &__wrap {
    @extend .content-width1000;
    &:nth-child(1) {
      @extend .pt-md;
    }
    &:nth-child(even) {
      .philosophy__wrap-inner {
        @include mq(lg) {
          flex-direction: row-reverse;
        }
      }
    }
  }
  &__wrap-inner {
    @extend .flex960;
    justify-content: space-between;
  }
  &__wrap-texts {
    flex-basis: 47%;
    display: flex;
    justify-content: center;
    align-items: center;
    & h3 {
      @extend .mb-sm;
      font-size: clamp(16px, 4vw, 24px);
    }
    & p {
      @extend .font-sm;
    }
  }

  &__wrap-img {
    flex-basis: 49%;

    margin: 0 auto;
    @extend .mb-sm;
  }
  &:nth-child(1) {
    @extend .pb-lr;
  }
  &__blocks {
    @include mq(lg) {
      margin: 0 auto;
      width: 90%;
      max-width: $contentMaxWidth1000;
    }
  }
  &__block {
    position: relative;
    z-index: 50;
    @extend .mb-md;
    padding: 20px;

    background: $cWhite;
    @include mq(lg) {
      padding: 50px 40px;
      border-radius: 10px;
    }
  }
  &__main {
    @extend .mb-sm;
  }
  &__sub {
    @extend .font-sm;
    & ul {
      list-style: none;
      margin: 20px 0;
      padding: 0;
      line-height: 1.3em;
      & li {
        margin-bottom: 14px;
        border-bottom: 1px dotted #eee;
        letter-spacing: 0.08em;
      }
    }
  }
  &__bg {
    height: 130%;
    background: $BgColor;
    position: absolute;
    bottom: -20px;
    left: 0;
    width: 100%;
    z-index: -1;

    &::before {
      content: "";
      background: url(./images/detailed-bg-top-sp.png) no-repeat center/cover;
      top: -90px;
      height: 90px;
      position: absolute;
      width: 100%;
      @include mq(lg) {
        top: -295px;
        height: 296px;
        background: url(./images/detailed-bg-t.png) no-repeat center/cover;
      }
    }
    &::after {
      content: "";
      bottom: -90px;
      width: 100%;
      height: 90px;
      position: absolute;
      background: url(./images/detailed-bg-sp.png) no-repeat center/cover;
      @include mq(lg) {
        bottom: -296px;
        height: 296px;
        background: url(./images/detailed-bg.png) no-repeat center/cover;
      }
    }
  }
  &__promise-block {
    @extend .mb-md;
    & > h4 {
      text-align: left;
    }
    & p {
      @extend .font-sm;
    }
  }
  &__promise {
    background: $cWhite;

    padding: 20px;
    @include mq(lg) {
      padding: 50px 40px;
      border-radius: 10px;
    }
    &-inner {
      max-width: $contentMaxWidth1000;
      margin: 0 auto;
    }
  }
}
.philosophys {
  position: relative;
}
.seven-bg {
  @extend .pt-md;
  position: relative;
  &::after {
    position: absolute;
    content: "";
    top: 10%;
    left: 0;
    background-image: url(./images/about_idea_bg2.png);
    height: 60%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    z-index: 100;
  }
}

.accordion-table {
  & table {
    margin-bottom: 10px;
  }
  & tbody {
    & tr {
      display: block;
      border-radius: 10px;
      &:nth-child(1) {
        position: relative;
        cursor: pointer;
        font-size: 1rem;
        font-weight: normal;
        background-color: $BgColor !important;
        transition: all 0.5s ease;
        padding: 15px 0;

        @include mq(md) {
          padding: 20px 0;
        }

        &::before,
        &::after {
          position: absolute;
          content: "";
        }
        &::before {
          top: 50%;
          right: 9px;
          width: 19px;
          height: 19px;
          background-color: #cbcaca;
          border-radius: 50%;
          transform: translateY(-50%);
        }
        &::after {
          top: 50%;
          right: 15px;
          width: 7px;
          height: 7px;
          border-top: 2px solid $cWhite;
          border-right: 2px solid $cWhite;
          transform: translateY(-50%) rotate(135deg);
        }

        &.close::after {
          top: 50%;
          transform: translateY(-50%) rotate(-45deg);
        }
        &.close td {
          display: block;
        }
        & td {
          position: relative;
          width: 85%;
          margin-left: 20px;
          &::before {
            position: absolute;
            content: "\51";
            font-family: "Font Awesome 5 free";
            font-weight: 600;
            width: 20px;
            height: 20px;
            top: 50%;
            left: -10px;
            transform: translateY(-50%);
          }
        }
      }
      &:nth-child(2) {
        @include mq(md) {
          margin: 0 3% 3% 3%;
          padding: 3%;
        }
        & td {
          margin-top: 20px;
          position: relative;
          @include mq(md) {
            margin-top: 0;
          }
          &::before {
            color: $mainColor;
            position: absolute;
            content: "\41";
            font-family: "Font Awesome 5 free";
            font-weight: 600;
            width: 20px;
            height: 20px;
            top: -11px;
            left: 5px;
            @include mq(md) {
              top: 10px;
              left: -15px;
            }
          }
          & > a {
            margin-top: 30px;
          }
        }
      }
      & td {
        font-size: 12px;
        display: inline-block;
        @include mq(md) {
          font-size: 14px;
        }
      }
    }
  }
}
.page-wrap {
  @extend .mb-lg;
  max-width: $contentMaxWidth1000;
  margin: 0 auto;
}

.page-procedure {
  @extend .pt-md;

  &__mainTit {
    font-size: clamp(14px, 4vw, 25px);
    @extend .mb-md;
    line-height: 1.8;
    @extend .content-width;
    @include mq(lg) {
      text-align: center;
    }
    & > span {
      color: $mainColor;
    }
  }
  &__wrap {
    background: $BgColor;
    @extend .pb-lr;
    @extend .pt-md;
  }
  &__block {
    @extend .mb-md;
    &-inner {
      @extend .flex960;
      justify-content: space-between;
      align-items: center;
      @extend .content-width;
      background: $cWhite;
      padding: 20px 10px;
      border-radius: 10px;
      @include mq(lg) {
        padding: 30px 20px;
      }
    }

    &-desc {
      flex-basis: 60%;
      @extend .mb-sm;
      & p {
        @extend .font-sm;
        line-height: 1.8;
      }
    }
    &-img {
      flex-basis: 38%;
    }
    &-flowStep {
      @extend .mb-md;
      &:last-of-type {
        .page-procedure__block-flowNumber {
          &::before {
            border-left: none;
          }
        }
      }
    }
    &-descFlow {
      @extend .mb-md;
    }
    &-flowOrder {
      @extend .flex960;
      justify-content: space-between;
      @include mq(lg) {
        align-items: center;
      }
      & > p {
        flex-basis: 78%;
      }
    }
    &-flowNumber {
      position: relative;
      background: $SubColor;
      border-radius: 5px;
      color: $cWhite;
      font-size: 14px;
      font-weight: bold;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      padding: 5px 10px;
      margin-bottom: 10px;

      @include mq(lg) {
        flex-basis: 180px;
        height: 50px;
        margin-bottom: 0;
        &::before {
          content: "";
          border-left: 4px solid $mainColor;
          height: 150px;
          position: absolute;
          top: 0;
          z-index: -1;
        }
      }
    }
  }
  &__flow {
    @extend .pb-lr;
    &-inner {
      @extend .content-width1000;
    }
  }
}

.facility-list {
  overflow: hidden;
  @extend .mb-lg;
  &__inner {
    @extend .content-width1000;
    overflow: hidden;
  }
  &__ul {
    & > div {
      @extend .flex960;
      justify-content: space-between;
    }
  }
  &__block {
    @extend .mb-md;
    background: $BgColor;
    box-shadow: 1px 1px 4px rgba(48, 70, 95, 0.1);
    padding: 10px;
    border-radius: 10px;
    flex-basis: 49.6%;
    letter-spacing: 0.08em;
    & > a {
      text-decoration: none;
      color: $main-txt;
    }
  }
  &__dl {
    & > div {
      background: $cWhite;
      border-radius: 10px;
      padding: 20px 10px;
    }
    & dt {
      border-bottom: 2px dotted $mainColor;
      padding: 10px;
      font-weight: bold;
      margin-bottom: 10px;
      color: $mainColor;
    }
    & dd {
      @extend .font-sm;
      margin-bottom: 3px;
      letter-spacing: 0.06em;
      font-weight: 500;
      & > span {
        font-weight: 600;
        color: $cOrange;
        padding: 5px 6px;
      }
    }
  }
  &__address {
    padding: 10px 0;
    border-bottom: 1px solid $cOrange;
  }
}

.greeting {
  @extend .mb-lr;

  &__inner {
    @extend .content-width1000;
  }
  &__top-inner {
    @extend .flex960;
    justify-content: space-between;
  }
  &__top-desc {
    flex-basis: 60%;

    & > h3 {
      font-size: clamp(14px, 3vw, 19px);
      margin-bottom: 20px;
      line-height: 2.2;
      & > span {
        position: relative;
        @include mq(md) {
          &::before {
            bottom: -13px;
            height: 16px;
            background-size: 16px auto;
            position: absolute;
            width: 100%;
            content: "";
            background-repeat: space repeat;
            background-image: url(images/bg_dot01.png);
            left: 0;
          }
        }
      }
    }
    & p {
      @extend .font-sm;
      line-height: 1.8;
    }
  }
  &__top-img {
    flex-basis: 38%;
    max-width: 400px;
    @extend .mb-md;
    & > img {
      margin-bottom: 10px;
    }
    & > p {
      @extend .font-sm;
      text-align: center;
      & > span {
        margin-right: 5px;
      }
    }
  }
  &__under-desc {
    & > h3 {
      @extend .font-md;
      margin-bottom: 20px;
      & > span {
        position: relative;
        &::before {
          bottom: -13px;
          height: 16px;
          background-size: 16px auto;
          position: absolute;
          width: 100%;
          content: "";
          background-repeat: space repeat;
          background-image: url(images/bg_dot01.png);
          left: 0;
        }
      }
    }
    & p {
      @extend .font-sm;
      line-height: 1.8;
    }
  }
}

.page-guide {
  &__inner {
    @extend .content-width;
    @extend .pt-md;
  }
  &__topTxt {
    @extend .mb-lr;
    background: $cWhite;
    border-radius: 10px;
    @extend .font-md;
    & .main-title {
      @extend .mb-md;
    }
    & p {
      @extend .font-md;
    }
    @include mq(lg) {
      padding: 50px 60px;
    }
  }
  &__blocks {
    @extend .pb-md;
  }
  &__blocks-inner {
    @extend .flex960;
    justify-content: space-between;
  }
  &__box {
    @extend .mb-md;
    flex-basis: 49%;

    background: $BgColor;
    border-radius: 10px;

    &:nth-child(1) {
      position: relative;
      &::before {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 66px);
        font-family: "Font Awesome 5 free";
        font-weight: 600;
        color: $SubColor;
        content: "\f103";
        font-size: 4em;
        z-index: 10;
      }
      @include mq(lg) {
        &::before {
          font-size: 5em;
          bottom: 50%;
          left: 100%;
          transform: translate(-15%, 50%) rotate(-90deg);
        }
      }
    }
    &:nth-child(2) {
      & .page-guide__box-head {
        background: $mainColor;
        color: $cWhite;
        border-radius: 10px 10px 0 0;
      }
    }
  }
  &__box-head {
    padding: 20px 10px;
    position: relative;
    margin-bottom: 20px;

    &::after {
      bottom: 0;
      height: 5px;
      background-size: 16px auto;
      position: absolute;
      width: 100%;
      content: "";
      background-repeat: space repeat;
      background-image: url(./images/bg_dot03.png);
      left: 0;
    }
    @include mq(md) {
      padding: 30px 40px;
    }
  }
  &__box-leftTitle {
    font-size: clamp(16px, 4vw, 25px);
    text-align: center;
    & span {
      &:nth-child(2) {
        @extend .font-md;
      }
    }
  }
  &__box-desc {
    margin-bottom: 16px;
    padding: 20px 10px;
    @include mq(md) {
      padding: 30px 40px;
    }

    & dt {
      padding-left: 15px;
      position: relative;
      font-weight: 700;
      margin-bottom: 5px;
      &::before {
        position: absolute;
        content: "";
        top: 7px;
        width: 8px;
        height: 8px;
        background: $cOrange;
        border-radius: 50%;
        left: 0;
      }
    }
    & dd {
      font-size: 14px;

      padding: 10px 0;
      border-bottom: 1px dotted $lightGray;
      & ul {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        padding: 15px;
        & li {
          margin-bottom: 10px;
          flex-basis: 30%;
        }
      }
      & > a {
        font-size: 14px;
        min-width: 260px;
        margin: 0 auto;
      }
    }
    &-label {
      background: $mainColor;
      color: $cWhite;
      padding: 2px 3px;
      border-radius: 3px;
    }
    &-line {
      margin-bottom: 10px;
      display: inline-block;
      width: 100%;
      @include mq(md) {
        flex-basis: 49%;
      }
    }
  }
}
.page-family {
  &__topTxt {
    @extend .mb-lr;
    display: flex;
    align-items: center;
    justify-content: center;
    @extend .font-md;
  }
  &__sampleImg {
    @extend .mb-lr;
  }
  &__descTxt {
    @extend .mb-md;
    display: flex;
    align-items: center;
    justify-content: center;
    @extend .font-sm;
  }
}
