@use "../globals" as *;
@use "../parts/common" as *;
@use "../parts/button" as *;

.single {
  min-height: 60vh;
  &__inner {
    @extend .content-width;
    max-width: $contentMaxWidth1000;
    @extend .pb-lg;
  }
  &__content {
    &-header {
      & > time {
        color: $lightGray;
      }
      & h2 {
        border-left: 4px solid $mainColor;
        margin-top: 40px;
        margin-bottom: 20px;
        padding-left: 12px;
        font-size: 16px;
        font-weight: 900;
        @include mq(md) {
          font-size: 20px;
        }
      }
    }
    &-des {
      font-size: 14px;
      @extend .mb-lg;
      &-img {
        max-width: 600px;
        width: 100%;
        margin: 0 auto;
        @extend .mb-md;
        & > img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
    &-text {
      background: $BgColor;

      padding: 12px;
      border-radius: 10px;
      min-height: 150px;
      @include mq(lg) {
        padding: 30px;
      }
      & p {
        @extend .font-sm;
        margin-bottom: 10px;
        line-height: 1.8em;
      }
      & img {
        margin-bottom: 10px;
      }
    }
  }
  &__list-btn {
    text-align: center;
    & > a {
      border: solid 1px $lightGray;
    }
  }
}

.service {
  @extend .pb-lg;
  background: $BgColor;
  &__inner {
    max-width: $contentMaxWidth1000;
    width: 90%;
    margin: 0 auto;
  }
  &__blocks {
    @extend .flex960;
    justify-content: space-between;
  }
  &__item {
    background: $BgSubColor;
    flex-basis: 48%;
    @extend .mb-lr;
    box-shadow: 1px 1px 10px rgba(176, 176, 176, 0.1);
    border-radius: 10px;
    padding: 8px;
    @include mq(md) {
      padding: 15px 20px;
    }
  }
  &__img {
    @extend .mb-sm;
    & > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 10px;
    }
  }

  &__title {
    @extend .font-lr;
    font-weight: 900;
    margin-bottom: 10px;
    color: $cOrange;
  }
  &__subtitle {
    @extend .font-md;
    background: $cOrange;
    color: $cWhite;
    border-radius: 5px;
    padding: 10px 20px;
    margin-bottom: 10px;
    font-weight: 600;
  }
  &__location {
    @extend .font-sm;
    @extend .mb-sm;
  }
  &__desc {
    @extend .font-sm;
    letter-spacing: 0.06em;
    line-height: 2;
    margin-bottom: 20px;
  }
  &__btn {
    text-align: center;
    @extend .mb-sm;
    & > a {
      border-radius: 60px;
    }
  }
}

.sl-custom {
  @extend .mb-lg;
}

.sl-service {
  &__sec01 {
    @extend .flex960;
    justify-content: space-between;
    display: flex;

    @extend .mb-lg;
  }
  &__sec01-texts {
    flex-basis: 55%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    @include mq(lg) {
      padding: 20px 30px 20px 50px;
    }
  }
  &__sec01-texts-inner {
    max-width: 800px;
  }
  &__sec01-title {
    @extend .font-lr;
    @extend .mb-md;
    letter-spacing: 0.16em;
    line-height: 1.5;
  }
  &__sec01-desc {
    line-height: 2;
    letter-spacing: 0.06em;
    @extend .font-sm;
  }
  &__sec01-img {
    flex-basis: 42%;
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  &__sec01-img-inner {
    max-height: 400px;
    & img {
      border-radius: 10px 0 0 10px;
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
  &__sec02 {
    @extend .mb-lg;
  }
  &__sec02-inner {
    @extend .content-width;
    max-width: $contentMaxWidth1000;
  }

  &__access-inner {
    @extend .content-width;
    max-width: $contentMaxWidth1000;
    @extend .flex;
    justify-content: space-between;
    background: $BgColor;
    padding: 50px 5px;
    border-radius: 10px;
    @include mq(lg) {
      padding: 50px 30px;
    }
  }
  &__access-map {
    width: 100%;

    @extend .mb-sm;
    @include mq(lg) {
      flex-basis: 49%;
      margin-bottom: 0 !important;
    }
    & iframe {
      width: 100%;
      height: 100%;
      border-radius: 10px;
      border: none;
    }
  }

  &__access-texts {
    display: flex;
    background: $cWhite;
    border-radius: 10px;
    padding: 10px;
    width: 100%;
    @include mq(lg) {
      flex-basis: 49%;
      align-items: center;
      justify-content: space-around;
    }
  }
  & &__access-texts-inner {
    width: 100%;
  }

  &__access-title {
    @extend .font-lg;
    margin-bottom: 20px;
  }
  &__access-dl {
    & dt {
      position: relative;
      margin-bottom: 10px;
      padding-left: 20px;
      font-weight: 900;
      &::before {
        font-family: "Font Awesome 5 free";
        font-weight: 600;
        position: absolute;
        left: 0px;
        top: 0;
        color: #eb9b71;
      }
      &:nth-of-type(1) {
        &::before {
          content: "\f3c5";
        }
      }
      &:nth-of-type(2) {
        &::before {
          content: "\f207";
        }
      }
    }
    & dd {
      @extend .font-sm;
      margin-bottom: 20px;
      border-bottom: 1px dotted #eee;
      @include mq(lg) {
        margin-bottom: 40px;
      }
    }
  }
}

.service-pageNav {
  max-width: $contentMaxWidth1000;
  margin: 0 auto;

  @extend .mb-lr;
  & ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    width: 100%;
    margin: 0 auto;
    justify-content: space-between;
    & li {
      position: relative;
      margin-bottom: 10px;
      width: 100%;
      @include mq(md) {
        width: 49%;
      }
      @include mq(lg) {
        width: 24%;
      }
    }
  }
}

.number-of-facilities {
  margin: 0 auto;
  margin-top: 50px;
  @extend .font-lr;
  font-weight: 900;
  max-width: 800px;
  text-align: center;

  & > span {
    color: $cOrange;
    padding: 0 10px;
  }
}

.list-interview {
  @extend .mb-lg;
  &__inner {
    @extend .content-width;
    max-width: $contentMaxWidth1000;
    @extend .flex;
    justify-content: space-between;
  }
  &__img {
    @extend .mb-sm;
    & > img {
      width: 100%;
      border-radius: 3px;
    }
  }
  &__item {
    @extend .mb-md;
    flex-basis: 49%;
  }
  &__contents {
    @extend .font-sm;
  }
  &__occu {
    background: $cOrange;
    color: $cWhite;
    padding: 5px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 900;
    border-radius: 3px;
    margin-bottom: 10px;
  }
  &__name {
    @extend .font-md;
    font-weight: 900;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
  }
  &__notinfo {
    text-align: center;
    width: 100%;
    & p {
      padding-top: 80px;
      @extend.mb-lg;
    }
  }
}

.interview {
  @extend .mb-lg;

  &__content {
    &:nth-child(3) {
      .interview__content-inner {
        @include mq(md) {
          flex-direction: row-reverse;
        }
      }
      .interview__img {
        justify-content: flex-end;
      }
    }
    &:last-child {
      .interview {
        &__content-inner {
          flex-direction: column;
        }
        &__img,
        &__texts {
          flex-basis: 100%;
          justify-content: center;
        }
      }
    }
  }
  &__content-inner {
    max-width: 1100px;
    margin: 0 auto;
    @extend .flex960;
    justify-content: space-between;
  }
  &__img {
    margin-bottom: 20px;
  }
  &__texts {
    line-height: 1.8em;
    @extend .font-sm;
    letter-spacing: 0.1em;

    &-desc {
      @extend .mb-md;
      & > h3 {
        @extend .font-md;
        margin-bottom: 20px;
        border-bottom: 2px double $cOrange;
      }

      & p {
        line-height: 1.8em;
        @extend .font-sm;
        letter-spacing: 0.1em;
      }
    }
  }
  &__texts-btn {
    margin-top: 30px;
    text-align: center;
  }
  &__img,
  &__texts {
    flex-basis: 46%;
    display: flex;
    align-items: center;
    position: relative;
  }
}

.texts-blocks {
  &__inner {
    max-width: $contentMaxWidth1000;
    margin: 0 auto;
    width: 90%;
  }
}

.text-box {
  @extend .mb-lr;
  &__title {
    @extend .font-md;
    @extend .mb-md;
    letter-spacing: 0.16em;
    line-height: 1.5;
    & span {
      position: relative;
      display: inline-block;
      &::after {
        bottom: -26px;
        height: 16px;
        background-size: 16px auto;
        position: absolute;
        width: 100%;
        content: "";
        background-repeat: space repeat;
        background-image: url(./images/bg_dot01.png);
        left: 0;
      }
    }
  }
  &__desc {
    width: 100%;
    line-height: 2;
    letter-spacing: 0.06em;
    @extend .font-sm;
    & h5 {
      @extend .font-md;
      margin-bottom: 5px;
      color: $cOrange;
      & > span {
        margin-right: 3px;
        @extend .font-lr;
      }
    }
    & p {
      @extend .font-sm;
      @extend .mb-sm;
    }
  }
  &__innerBox {
    @extend .mb-sm;
  }
  &__innerTitle {
    @extend .font-md;
    font-weight: 700;
  }
  &__innerDesc {
    @extend .font-sm;
    line-height: 2;
    letter-spacing: 0.06em;
  }
  @include mq(lg) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.image-box {
  @extend .mb-lr;
  @extend .flex;
  justify-content: space-between;
  &__img {
    @extend .mb-sm;

    & > img {
      object-fit: cover;
      width: 100%;
      border-radius: 10px;
      margin-bottom: 10px;
      font-size: 14px;
    }
    @include mq(md) {
      flex-basis: 32%;
    }
  }
}

.sec-price {
  @extend .mb-lg;
  &__inner {
    max-width: $contentMaxWidth1000;
    margin: 0 auto;
    width: 90%;
  }
  &__ul {
    padding: 0;
    padding-left: 20px;
    list-style: none;

    & li {
      position: relative;
      line-height: 2;
      letter-spacing: 0.06em;
      @extend .font-sm;

      &::before {
        content: "\f46c";
        font-family: "Font Awesome 5 free";
        font-weight: 600;
        position: absolute;
        left: -20px;
        top: 0px;

        color: $cOrange;
      }
    }
  }
  &__desc {
    @extend .mb-md;
    & p {
      @extend .font-sm;
      font-weight: 900;
      margin-bottom: 5px;
    }
  }
  &__innerTitle {
    @extend .font-sm;
    @extend .mb-sm;
  }
  &__innerDesc {
    @extend .font-sm;
    @extend .mb-md;
    & > span {
      font-weight: 900;
      border-bottom: 3px solid $cOrange;
    }
    & > ul {
      padding: 20px 10px;
    }
    & > p {
      margin-top: 8px;
    }
  }
}

.try {
  padding-top: 40px;
  background: $BgColor;
  @extend .mb-lg;
  @include mq(lg) {
    padding-top: 80px;
  }
  &__inner {
    max-width: $contentMaxWidth1000;
    margin: 0 auto;
    width: 90%;
    @extend .mb-lg;
    @extend .flex;
    justify-content: space-around;
  }

  &__block {
    flex-basis: 30%;
    @extend .mb-md;
  }
  &__img {
    width: 250px;
    height: 250px;
    margin: 0 auto;
    margin-bottom: 20px;
    &-inner {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      position: relative;

      & > span {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        @extend .font-md;
        font-weight: bold;
        color: $cWhite;
      }
    }
  }
  &__circle {
    border-radius: 50%;
    width: 100%;
    border: 4px solid $cWhite;
    height: 100%;
  }
  &__txt {
    & > h5 {
      @extend .font-sm;
      margin-bottom: 10px;
    }
    & > p {
      font-size: 14px;
    }
  }
}

.image-display {
  list-style: none;
  padding: 0;
  @extend .flex;
  justify-content: space-between;
  &__img {
    &:nth-child(1) {
      flex-basis: 100%;
      & > img {
        width: 100%;
      }
    }
    @extend .mb-md;
    flex-basis: 48%;
    & > img {
      border-radius: 10px;
      margin: 0 auto;
    }
  }
}

.info-with-imgs {
  &__desc {
    line-height: 2;
    letter-spacing: 0.06em;
    margin: 20px 0;
  }
  &__img {
    &:nth-child(1) {
      flex-basis: 100%;
      & > img {
        width: 100%;
      }
    }
    @extend .mb-md;
    flex-basis: 48%;
    & > img {
      border-radius: 10px;
      margin: 0 auto;
    }
  }
}

.surround-contents {
  @extend .mb-lg;
  &__inner {
    @extend .content-width;
    max-width: $contentMaxWidth1000;
  }
  &__box {
    @extend .mb-lr;
  }
}

.cardinfo {
  padding-top: 40px;
  @extend .mb-lg;
  @include mq(lg) {
    padding-top: 80px;
  }
  &__inner {
    max-width: $contentMaxWidth1000;
    margin: 0 auto;
    width: 90%;
    @extend .mb-lg;
  }
  &__blocks {
    @extend .flex;
    justify-content: space-between;
  }

  &__block {
    @extend .mb-md;
    @include mq(md) {
      flex-basis: 49%;
    }
    @include mq(lg) {
      flex-basis: 33%;
    }
  }
  &__img {
    width: 100%;
    margin-bottom: 20px;
    & > img {
      width: 100%;
      object-fit: cover;
      border-radius: 10px;
    }
  }

  &__txt {
    & > h5 {
      @extend .font-sm;
      margin-bottom: 10px;
      & > span {
        display: block;
        font-size: 12px;
      }
    }
    & > p {
      font-size: 14px;
    }
  }
  &__desc {
    @extend .font-sm;
    line-height: 2;
    letter-spacing: 0.06em;
  }
}

.txtimg-block {
  max-width: $contentMaxWidth1000;
  margin: 0 auto;
  width: 90%;
  @extend .mb-lr;

  &__box {
    @extend .mb-md;
    @extend .flex;
  }
  &__box-inner {
    @extend .flex;
    justify-content: space-between;
  }
  &__title {
    @extend .font-md;
    margin-bottom: 20px;
    color: $cOrange;
  }

  &__texts {
    flex-basis: 55%;
    padding: 5%;
    display: flex;
    align-items: center;
  }

  &__desc {
    line-height: 2;
    letter-spacing: 0.06em;
    @extend .font-sm;
    & ul {
      list-style: none;
      padding: 0;
      margin-top: 10px;
      font-size: 14px;
    }
  }
  &__img {
    flex-basis: 42%;
    margin-left: 10px;
    display: flex;

    & img {
      border-radius: 10px;
      object-fit: cover;
      width: 100%;
    }
  }
  &__box-inner {
    @extend .mb-md;
  }
  &__bottom-tit {
    text-align: center;
    @extend .font-md;
    color: $cOrange;
    font-weight: 800;
  }
  &__bottom-desc {
    padding: 20px 0;
    @extend .font-sm;
    & ul {
      list-style: none;
      & li {
        border-bottom: 2px dotted $cOrange;
        margin-bottom: 20px;
        padding-bottom: 5px;
      }
    }
  }
}
.table-blocks {
  &__inner {
    max-width: $contentMaxWidth1000;
    margin: 0 auto;
    width: 90%;
  }
}
.banner {
  background: $BgColor;
  min-height: 300px;
  @extend .mb-lg;
  max-width: $contentMaxWidth1000;
  margin: 0 auto;
  width: 90%;
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding: 50px 5px;
  &__inner {
    flex-basis: 100%;
  }
  &__texts {
    background-color: rgba(255, 255, 255, 0.9);
    @extend .content-width;
    border-radius: 10px;
    padding: 50px 10px;
    @include mq(md) {
      padding: 50px 30px;
    }
    @include mq(lg) {
      padding: 50px 60px;
    }

    & > p {
      @extend .font-sm;
    }
  }
  &__title {
    text-align: center;
    font-size: 14px;
    @extend .mb-sm;
    @include mq(lg) {
      font-size: 26px;
    }
  }
  &__btn {
    margin-top: 20px;
    text-align: center;
    @include mq(md) {
      margin-top: 50px;
    }
  }
}

.school-content {
  &__inner {
    max-width: $contentMaxWidth1000;
    margin: 0 auto;
    width: 90%;
  }
  &__blocks {
    @extend .mb-lg;
  }
  &__blocks-inner {
    @extend .flex960;
    justify-content: space-between;
  }
  &__box {
    @extend .mb-md;
    flex-basis: 49%;
    padding: 20px 20px;
    background: $BgColor;
    border-radius: 10px;
    @include mq(md) {
      padding: 30px 40px;
    }
  }
  &__box-head {
    padding: 20px 0;
    position: relative;
    margin-bottom: 20px;

    &::after {
      bottom: 0;
      height: 5px;
      background-size: 16px auto;
      position: absolute;
      width: 100%;
      content: "";
      background-repeat: space repeat;
      background-image: url(./images/bg_dot03.png);
      left: 0;
    }
    @include mq(lg) {
      padding: 30px 0;
    }
  }
  &__box-leftTitle {
    @extend .font-lr;
    text-align: center;
  }
  &__box-desc {
    font-size: 14px;
    & dl {
      margin-bottom: 20px;
    }
    & dt {
      padding-left: 15px;
      position: relative;
      font-weight: 700;
      margin-bottom: 5px;
      &::before {
        position: absolute;
        content: "";
        top: 7px;

        width: 8px;
        height: 8px;
        background: $cOrange;
        border-radius: 50%;
        left: 0;
      }
    }
    & dd {
      & ul {
        padding: 15px;
        & li {
          margin-bottom: 10px;
        }
      }
    }
  }
}

.school-programImg {
  list-style: none;
  padding: 0;
  // @extend .flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

  &__img {
    flex-basis: 49%;
    &:nth-child(1) {
      flex-basis: 100%;
      & > img {
        width: 100%;
      }
    }
    @extend .mb-sm;

    & > img {
      border-radius: 10px;
      margin: 0 auto;
    }
    @include mq(md) {
      flex-basis: 33%;
    }
  }
}
.school-point {
  width: 100%;
  padding: 20px 20px 20px 50px;
  background: #f6f4ef;
  border-radius: 10px;
  position: relative;
  & > p {
    @extend .font-sm;
    font-weight: 600;
    margin: 0 !important;
  }

  &::before {
    content: "\f0eb";
    font-family: "Font Awesome 5 Free";
    font-weight: 600;
    font-size: 25px;
    color: #eb9b71;
    position: absolute;
    width: 40px;
    height: 40px;
    top: 10px;
    left: 20px;
  }
}
