@use "../globals" as *;
@use "../parts/common" as *;
@use "../parts/button" as *;

.notice {
  @extend .content-width;
  @extend .mb-lg;
  &__notinfo {
    text-align: center;
    width: 100%;
    & p {
      padding-top: 80px;
      @extend.mb-lg;
    }
  }
}

.single {
  min-height: 60vh;
  &__inner {
    @extend .content-width;
    max-width: 1000px;
    @extend .pb-lg;
  }
  &__content {
    &-header {
      & > time {
        color: $lightGray;
      }
      & h2 {
        border-left: 4px solid #1c1c22;
        margin-top: 40px;
        margin-bottom: 20px;
        padding-left: 12px;
        font-size: 16px;
        font-weight: 900;
        @include mq(md) {
          font-size: 20px;
        }
      }
    }
    &-des {
      font-size: 14px;
      @extend .mb-lg;
      &-img {
        max-width: 600px;
        width: 100%;
        margin: 0 auto;
        @extend .mb-md;
        & > img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
    &-text {
      background: #fcfdff;
      border: 0.5px solid $cBgGray;
      padding: 12px;
      border-radius: 3px;
      @include mq(lg) {
        padding: 30px;
      }
      & p {
        @extend .font-sm;
        margin-bottom: 10px;
        line-height: 1.8em;
      }
      & img {
        margin-bottom: 10px;
      }
    }
  }
  &__list-btn {
    text-align: center;
    & > a {
      border: solid 1px $lightGray;
    }
  }
}

.service {
  @extend .content-width;
  @extend .pb-lg;
  &__inner {
    max-width: 1000px;
    margin: 0 auto;
    @extend .flex960;
    justify-content: space-between;
  }
  &__item {
    flex-basis: 48%;
    @extend .mb-lr;
  }
  &__img {
    @extend .mb-sm;
    & > img {
      width: 100%;
      border-radius: 10px;
    }
  }
  &__contents {
    padding: 20px 10px;
  }
  &__title {
    @extend .font-lr;
    font-weight: 900;
    @extend .mb-sm;
    color: $cOrange;
    padding: 20px 0;
  }
  &__subtitle {
    @extend .font-md;
    background: $cOrange;
    color: $cWhite;
    border-radius: 5px;
    padding: 10px 20px;
    margin-bottom: 10px;
    font-weight: 600;
  }
  &__desc {
    @extend .font-sm;
    letter-spacing: 0.06em;
    line-height: 2;
    margin-bottom: 20px;
    min-height: 200px;
    @include mq(lg) {
      min-height: 290px;
    }
  }
  &__btn {
    text-align: center;
  }
}
